# Lab | Inferential Statistics

1. One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

## Importing relevant libraries

In [14]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

## Reading data from .txt file

In [7]:
data_machine = pd.read_csv('files_for_lab/machine.txt', delimiter = "/n")
data_machine.head(15)

#dont like this, i will create columns with these values in a list and add them to dataframe

<ipython-input-7-8c4e3f5a2b80>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data_machine = pd.read_csv('files_for_lab/machine.txt', delimiter = "/n")

   ��N e w   m a c h i n e \t         O l d   m a c h i n e 
0                                                    
1                 4 2 . 1 \t                 4 2 . 7 
2                                                    
3             4 1 \t                         4 3 . 6 
4                                                    
5                 4 1 . 3 \t                 4 3 . 8 
6                                                    
7                 4 1 . 8 \t                 4 3 . 3 
8                                                    
9                 4 2 . 4 \t                 4 2 . 5 
10                                                   
11                4 2 . 8 \t                 4 3 . 5 
12                                                   
13                4 3 . 2 \t                 4 3 . 1 
14                                                   

In [8]:
new_machine = [42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine = [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [11]:
machine_df = pd.DataFrame({'new_machine':new_machine,'old_machine':old_machine})

In [12]:
machine_df

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [16]:
# new machines are independent of old_machines, I am going to use t-stat computation for independent samples

st.ttest_ind(machine_df['new_machine'],machine_df['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

## Result/Decision:

*p-value* is less than level of significance (0.05) so we reject the null hypothesis. The null hypothesis is that means of both machines are same and there is no difference. Clearly, the new machine is better at packing cartons. The sample is small, so we wouldn't infer this, but all we can say is that the the means of each machine's packing times are different.

*t-value* is negative \mu_new_machine - \mu_old_machine < 0, which is --> \mu_new_machine < \mu_old_machine 

This means time taken by new machine to pack cartons  is less than the time spent by old machine, which means our new machines are more efficient at this task.

2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [17]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [18]:
pokemon_ad = pokemon[['Attack','Defense']]
pokemon_ad.head()

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

In [19]:
pokemon.shape

(800, 13)

These are dependant samples as both attach and defense features are for each pokemon.

In [21]:
st.ttest_rel(pokemon_ad['Defense'], pokemon_ad['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

## Result/Decision:

*p-value* is less than level of significance (0.05) so we reject the null hypothesis. p-value is soooo low! If it was a single tail test then we would divide the pvalue by 2, which would make it even smaller.

p-value is soooo low! We reject null which means /mu of Attack and Defense are statistically different.
 

*t-value* is negative \mu_Defense - \mu_Attack < 0, which is --> \mu_Defense < \mu_Attack

This means defense scores of pokemons on average are less than the their attack scores, which means our pokemons are more attackers than defenders.

# OPTIONAL PART | Inferential statistics - ANOVA

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: link to the image - Data

In [23]:
# reading the file

plasma = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
plasma.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [24]:
plasma.shape

(15, 2)

- State the null hypothesis

    H0: /mu1 = /mu2 =....= /mu_n -->power or plasma beam and has effect on etching rate by machine
    
- State the alternate hypothesis

    H0: /mu1 != /mu2 !=....!= /mu_n
    
- What is the significance level

    0.01
    
- What are the degrees of freedom of model, error terms, and total DoF

    n = 15, degrees of freedom = 14

## Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [29]:
plasma['power_count'] = plasma.groupby('Power ').cumcount() ##is the new index 

#create pivot tables
plasma_pivot = plasma.pivot(index='power_count', columns='Power ', values='Etching Rate')
plasma_pivot.columns = ['Power_'+str(x) for x in plasma_pivot.columns.values]

plasma_pivot = plasma_pivot.rename(columns = {'Power_160 W':'power_160','Power_180 W':'power_180','Power_200 W':'power_200'})
plasma_pivot.head()

             power_160  power_180  power_200
power_count
0                 5.43       6.24       8.79
1                 5.71       6.71       9.20
2                 6.22       5.98       7.90
3                 6.01       5.66       8.15
4                 5.59       6.60       7.55

In [32]:
#f_oneway --> is ANOVA
st.f_oneway(plasma_pivot['power_160'],plasma_pivot.power_180,plasma_pivot.power_200)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

p-value < alpha, reject the null hypothesis which means there is at least one other plasma power bean which has higher etching rates.